@import 'variables.scss';

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0 5px 0;
  line-height: 1.5;
  font-size: 12px;
  color: #505050;

  @media screen and (min-width: 414px){
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  p {
    margin: 0 0 10px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;

    li {
      display: inline-block;
      margin-left: 5px;
    }
  } // end of ul
} // end of footer
